//Define default variables


// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

//Define app-wide CSS
.container, 
.container-fluid, 
.container-xl, 
.container-lg, 
.container-md, 
.container-sm  {
    background-color: white;
    text-align: center;
    height: auto;
    min-height: 90%;
    @include setBorder();
    margin-top: 4.5em;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin-bottom: 0.5em;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100vh;
    min-height: 100%;
    background-color: $colorDarkTan;
    overflow: auto;
}
  
#nav {
    padding: 30px;  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
 }
